#banner2 {
	position: relative;
	margin: 0;
	padding:0;
	
}
.homepage{
	background: #252122;
    /* background-image: url(images/bg02.png); */
}
#banner2 > img{
	width:100%;
}
#main{
	background:#f7f7f7;
}
#footerImage{
	display:block;
	width:50%;
	margin-left:auto;
	margin-top:auto;
	/* height:fit-content; */
	/* flex-wrap: nowrap; */
	/* flex-direction: row; */
	text-align: right;
}
#footerImage img{
	width:49%; 
	/* height:50px; */
	margin:0;
	padding:0 4%;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
	;
	height: 100%;

	background: linear-gradient(to right, rgb(247, 52, 247) 0%, rgba(130, 27, 251, 0) 49%, rgb(9, 0, 255) 100%);
}
#nav{
	padding-bottom: 2rem;
}

.homepageExplore {
	
}

.homepageExplore:hover {
	background-color: white;
	color: black !important;
}