.whiteBG2 {
	background-color: #f7f7f7;
}

.whiteBG2>.row {
	background-color: white;
}

.margin-top {
	margin-top: 10px;
}


.featuring {
	max-height: 300px;
	overflow: hidden;
}

.featuring>img {

	height: 100%;
}

.no-box {
	/* padding:0 !important; */
}

.tempImageFix {
	width: 100%;
}

.tempImageFix>img {
	height: 300px !important;
	width: auto !important;

}

.flexDown {
	display: flex;
	flex-direction: column;
}

.flexDown>section {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
}

.flexDown>section>footer {
	margin-top: auto;
}

.HallMan .featuring {
	max-height: 600px;
}

.HallMan {
	#RTimg {
		.RTinfo{
			font-family:"Arial";
			transition: 0.5s ease-out;
			// visibility: hidden;
			opacity: 0;
			display:flex;
			justify-content: center;
			flex-direction: column;
			align-items:flex-end;
			.w-100{
				display:flex;
				justify-content: center;
				align-items: flex-end;
				.title{
					font-weight: bold;
					font-size:18px;
					span{
						color: #c6335c;
					}
					line-height:24px;

					text-align: right;
					width: 160px;
					// width:100%;
					padding-right: 10px;
					// margin-right:0px;
					border-style:solid;
					border-color:black;
					border-bottom-width:1px;
				}
				.titleR{
					padding-left:10px;
					padding-right:0px;
					text-align: left;
				}
				.triangle{
					width: 30px;
					height: 1px;
					transform: rotate(45deg);
					background: black;
					margin-right: 0px;
					transform:translateY(-12px) translateX(7px) rotate(60deg);
				}
				.triangleR{
					transform:translateY(-12px) translateX(-7px) rotate(-60deg);
				}
			}
			
			.info{
				line-height:18px;

				font-size:10px;
				padding-right:10px;
			}
			.infoR{
				padding-left:10px;
				padding-right:0px;
				text-align: left;
			}
		}
		.RTinfoR{
			align-items: flex-start;
		}

		.RTimg:hover ~ .RTinfo,.RTimg:hover{
			visibility: visible;
			opacity: 1;
			// border:1px solid black;
		}
		img {
			object-fit: cover;
			width: 40vw;
			height: 40vw;
			padding: 0;
		}
	}

	h3 {
		padding: 0;
		// font-size:2rem !important;
		padding-bottom: 20px;
		padding-top: 5px;
	}

	h2 {
		color: #c6335c;
		font-size: 20rem;
		font-family: "Nixie";
		letter-spacing: 2px;
		text-align: center;
	}

	.parentP {
		background-color: #c6335c;
		max-height: 80vw;
		max-width: 80vw;
		height: 80vw;
		width: 80vw;
		margin-left: auto;
		margin-right: auto;
		padding: 0;
		border-radius: 2000px;
		display: flex;
		justify-content: center;
		align-items: center;

		p {
			// width:20rem;
			max-width: 60vw;
			font-size: 4vw !important;
			margin-bottom: 0;
			color: white;
		}
	}

	img {
		object-fit: cover;
		max-height: 80vw;
		max-width: 80vw;
		height: 70vw;
		width: 70vw;
		margin-left: auto;
		margin-right: auto;
		border-radius: 2000px;
		padding: 0;
		// margin-top: 50px;
	}
}

@media only screen and (min-width: 600px) {
	.HallMan {

		#RTimg {
			margin-top: 10px;
			.RTinfo{
				// width:fit-content;
				width: 180px;
				.w-100{
					.title{
						font-size:20px;
						width: 160px;
						// width:100%;
						// margin-right:0px;
						border-style:solid;
					border-color:black;
					border-bottom-width:1px;
					}
				}
				.info{
					font-size:12px;
					// width:fit-content;
				}
			}
			img {
				width: 120px;
				height: 120px;
				margin-top: 0px;
				margin-left:0px;
				margin-right:0px;
			}
		}
		.goDown{
			position: relative;
			top:60px;
		}
		.parentP,
		img {
			max-width: 300px;
			max-height: 300px;
			width: 250px;
			height: 250px;

			p {
				width: 200px;
				font-size: 0.9rem !important;
				margin-bottom: 0;

			}
		}
	}

}


@media only screen and (max-width:425px) {
	.HallMan {

		// #RTimg {
		// 	img{
		// 	width:150px;
		// 	height:150px;
		// 	}
		// }
	}
}