.whiteBG{
	background-color : white;
}
.featuring2{
	height: 200px;
	overflow: hidden;
	vertical-align: middle;
	display:flex;
	justify-content: center;
	align-items: center;
	background:#0F0F0F;
}
.featuring2 > img{
	width:100%;
	height:auto;
}
.image img{

	object-fit: cover;
}
.ABCCulture{
	margin:auto 
}
.actions{
	margin-top:20px;
}

.noPadding{
	padding:0;
}

header.major{
	top:0;
}