.header{
	h3{
		font-weight: lighter !important;
		font-family: 'Nixie One', cursive !important;
	}
	h1{
		font-family: "Futura";
	}
}
.dropdown-item{
	font-weight: bold !important;
}
.dropdown-item:active{
	background: #c6335c !important;
}
// .showWhenHover{
// 	position: absolute;
// 	visibility: hidden;
// 	border-radius: 10px;
// 	width: 240px;
// 	left:-120px;
// }
// .navBarObjects:hover + .showWhenHover, .showWhenHover:hover{
// 	background:white;
// 	height:40px;
	 
// 	box-shadow: 0px 0px 10px black;
// 	visibility: visible;
// }
.leftBottomSide{
	text-shadow: 0px 0px 2px #222, 0px 0px 3px black,0px 0px 2px #222;
}
.href:hover{
	text-decoration: none;
	color:darkred;

}
.href{
	font-size: 2rem;
	color:black;

}
#header{
	padding-top:2rem;
}
.headerLogo{
	height: 6rem;
}
.h3{
	font-size: 1rem;
	font-family: 'Nixie One', cursive!important;
}



.blackFont{
	color:black !important;
}

.bold_font_weight{
	font-weight: bold;
}
.navBarObjects{
	position: relative;
	transition:background-color ease 0.5s ;
	padding-left: 1rem !important;
	padding-right:1rem !important;
	transition:padding ease 0.3s, color ease 1s, border ease 0.5s;
	color:black;
	padding-top: 1rem;
	padding-bottom: 1rem;
	text-decoration: none;
}
.nav-item{
	padding-top: 1.5rem;
	padding-bottom: 1rem;
	position: relative;
}

.nixie{
	font-family: 'Nixie One', cursive;
}

.hoverPink:hover{
	// background-color: #c6335c;
	border: #c6335c solid 1px;
	// background: transparent ;
	color:#c6335c !important;
	font-weight: bolder;
	padding-left: 1.2rem !important;
	padding-right:1.2rem !important;

	text-decoration: none;
}
.roundedBorder{
	border-radius:10px;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
	#header{
		padding-top:0.5rem;
	}
	.nav-item{
		padding-top:0.5rem;
		padding-bottom: 0.5rem;
	}
	.navBarObjects{
		padding-top:0.25rem;
		padding-bottom: 0.25rem;
	}
}